In [5]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import FileLink
response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1').json()
movies=pd.DataFrame()
for j in range(1,501):
    response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(j)).json()
    title=[]
    popularity=[]
    vote_count=[]
    vote_average=[]
    overview=[]
    original_language=[]
    release_date=[]         
    for i in response['results']:
        
        title.append(i['title'])
        popularity.append(i['popularity'])
        vote_count.append(i['vote_count'])
        vote_average.append(i['vote_average'])
        overview.append(i['overview'])
        original_language.append(i['original_language'])
        release_date.append(i['release_date'])
        
    d={'title': title, 'popularity': popularity, 'vote_count': vote_count, 'vote_average': vote_average, 'overview': overview, 'original_language': original_language, 'release_date': release_date}
    df=pd.DataFrame(d)
    movies=pd.concat([movies, df], ignore_index=True)

In [6]:
movies

,title,popularity,vote_count,vote_average,overview,original_language,release_date
0,Lilo & Stitch,768.0749,273,7.115,The wildly funny and touching story of a lonel...,en,2025-05-17
1,A Minecraft Movie,532.5622,1515,6.497,Four misfits find themselves struggling with o...,en,2025-03-31
2,Final Destination Bloodlines,423.5113,469,7.000,"Plagued by a violent recurring nightmare, coll...",en,2025-05-14
3,Until Dawn,357.8394,450,6.511,One year after her sister Melanie mysteriously...,en,2025-04-23
4,Mission: Impossible - The Final Reckoning,319.5509,409,7.076,Ethan Hunt and team continue their search for ...,en,2025-05-17
...,...,...,...,...,...,...,...
9995,The World of Adultery,1.8749,4,7.800,"Gyu-nam, even with a girlfriend, meets a marri...",ko,2020-07-10
9996,Fletch,2.3359,697,6.730,"When investigative reporter Irwin ""Fletch"" Fle...",en,1985-05-31
9997,Devil's Knot,1.8118,674,6.166,The savage murders of three young children spa...,en,2013-05-09
9998,Conspiracy,1.9594,424,7.263,"At the Wannsee Conference on January 20, 1942,...",en,2001-05-19
9999,The Howling,2.4294,808,6.577,After a bizarre and near fatal encounter with ...,en,1981-01-21

In [13]:
movies.to_csv('movies.csv', index=False)

FileLink('movies.csv')

C:\Users\kowser\Downloads\movies.csv

In [14]:
movies.shape

(10000, 7)

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              10000 non-null  object
 1   popularity         10000 non-null  float64
 2   vote_count         10000 non-null  int64
 3   vote_average       10000 non-null  float64
 4   overview           10000 non-null  object
 5   original_language  10000 non-null  object
 6   release_date       10000 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 547.0+ KB

In [10]:
movies.describe()

         popularity    vote_count  vote_average
count  10000.000000  10000.000000  10000.000000
mean       5.783801   1829.832100      6.388100
std       15.343257   3298.267369      1.408005
min        0.723200      0.000000      0.000000
25%        2.438325    111.000000      6.000000
50%        3.329000    680.500000      6.600000
75%        5.475325   1952.250000      7.200000
max      768.074900  37495.000000     10.000000

In [11]:
movies.isna().sum()

title                0
popularity           0
vote_count           0
vote_average         0
overview             0
original_language    0
release_date         0
dtype: int64